<ng-container>
  <div class="d-flex justify-content-center align-items-center pt-3">
    <button class="btn btn-outline-primary me-3" (click)="getNotFound()">
      Test Error 404
    </button>
    <button class="btn btn-outline-primary me-3" (click)="getBadRequest()">
      Test Error 400
    </button>
    <button
      class="btn btn-outline-primary me-3"
      (click)="getInternalServerError()"
    >
      Test Error 500
    </button>
    <button class="btn btn-outline-primary me-3" (click)="getNotAuth()">
      Test Error 401
    </button>
    <button class="btn btn-outline-primary me-3" (click)="getValidationError()">
      Test Validation Register
    </button>
  </div>
  <div class="row p-3 mt-5 w-25 error-div" *ngIf="validationErrors.length > 0">
    <ul
      class="text-danger d-flex flex-column justify-content-center align-items-center"
    >
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div>
</ng-container>
