<div class="text-center mt-3">
  <h2>
    {{
      predicate === "liked" ? "Members liked by you:" : "Members who like you:"
    }}
  </h2>
</div>
<div class="container mt-3">
  <div class="mb-3 d-flex justify-content-center">
    <!-- Identify radio buttons by name assigned to div -->
    <div class="btn-group" name="predicate">
      <button
        class="btn btn-primary"
        btnRadio="liked"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
      >
        Members you liked
      </button>
      <button
        class="btn btn-primary"
        btnRadio="likedBy"
        [(ngModel)]="predicate"
        (click)="loadLikes()"
      >
        Members liking you
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col card-styling" *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>
