<div class="row" *ngIf="member">
  <div class="col-2" *ngFor="let photo of member.photos; let i = index">
    <img
      class="img-thumbnail mb-1"
      src="{{ photo.url }}"
      alt="{{ photoNames[i] }}"
    />
    <div class="text-center">
      <button
        class="btn btn-sm"
        [disabled]="photo.isProfilePic"
        (click)="setProfilePic(photo)"
        [ngClass]="photo.isProfilePic ? 'btn-success' : 'btn-outline-success'"
      >
        Main
      </button>
      <button
        class="btn btn-danger"
        [disabled]="photo.isProfilePic"
        (click)="deletePhoto(photo.id)"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
<app-file-upload [user]="user" [member]="member"></app-file-upload>
