.nav-container {
  .active {
    color: #f78a2a !important;
    border: 2px solid #f78a2a;
    border-radius: 8px;
  }

  .nav-link.text-white:hover {
    color: #2bfc55 !important;
  }

  .mouse-pointer {
    cursor: pointer;
  }

  .test-item {
    width: 150%;
  }

  .dropdown-toggle,
  .dropdown-item {
    cursor: pointer;
  }

  .form-padding {
    padding-left: 50%;
  }

  button.navbar-toggler.border-light {
    border-width: 2px;
  }

  .btn-login {
    background-color: #24a428;
  }
}
