.nav-container {
  .active {
    color: #ffc107 !important;
  }

  .nav-link.text-white:hover {
    color: #28a745 !important;
  }

  .mouse-pointer {
    cursor: pointer;
  }

  .dropdown-toggle,
  .dropdown-item {
    cursor: pointer;
  }

  .form-padding {
    padding-left: 50%;
  }

  button.navbar-toggler.border-light {
    border-width: 2px;
  }
}
