.nav-container {
  nav {
    background: #04c8de !important;
  }

  .active {
    color: #ffff !important;
    text-decoration: underline;
    text-decoration-color: #ffff;
    text-underline-offset: 0.7rem;
    font-weight: 1000;
    border-radius: 8px;
  }

  .nav-link.text-white:hover {
    color: #2bfc55 !important;
  }

  .mouse-pointer {
    cursor: pointer;
  }

  .test-item {
    width: 135%;
    text-align: center;
  }

  .dropdown-toggle,
  .dropdown-item {
    cursor: pointer;
  }

  img {
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
    border-radius: 100%;
  }

  .form-padding {
    padding-left: 50%;
  }

  button.navbar-toggler.border-light {
    border-width: 2px;
  }

  .btn-login {
    background-color: #24a428;
  }
}
