<div class="nav-container">
  <nav class="navbar navbar-expand-lg bg-primary p-3">
    <div class="container">
      <a class="navbar-brand text-white" routerLink="/">{{ title }}</a>
      <button
        class="navbar-toggler border-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- emits latest value of currentUser$ -->
          <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
              <a
                class="nav-link text-white"
                aria-current="page"
                routerLink="/members"
                routerLinkActive="active"
                >Matches</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white"
                routerLink="/lists"
                routerLinkActive="active"
                >Lists</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white mouse-pointer"
                routerLink="/messages"
                routerLinkActive="active"
              >
                Messages
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white mouse-pointer"
                routerLink="/admin"
                routerLinkActive="active"
              >
                Admin
              </a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a
              class="nav-link text-white test-item"
              routerLink="/errors"
              routerLinkActive="active"
              >Test App Errors</a
            >
          </li>
        </ul>
        <div
          class="dropdown dropdown-padding"
          *ngIf="accountService.currentUser$ | async as user"
          dropdown
        >
          <img src="{{ user.photoUrl || 'assets/user.png' }}" alt="user.png" />
          <a
            class="dropdown-toggle text-light text-decoration-none ms-2"
            dropdownToggle
            >Welcome {{ user?.fullName }}</a
          >
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <form
          *ngIf="!(accountService.currentUser$ | async)"
          #loginForm="ngForm"
          class="d-flex w-100 form-padding"
          (ngSubmit)="login()"
          autocomplete="off"
        >
          <input
            name="username"
            [(ngModel)]="user.username"
            class="form-control me-2"
            type="text"
            placeholder="Username"
            aria-label="Search"
          />
          <input
            name="password"
            [(ngModel)]="user.password"
            class="form-control me-2"
            type="password"
            placeholder="Password"
            aria-label="Search"
          />
          <button class="btn btn-success btn-login" type="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </nav>
</div>
