<div class="nav-container">
  <nav class="navbar navbar-expand-lg bg-dark p-3">
    <div class="container">
      <a class="navbar-brand text-white" href="#">{{ title }}</a>
      <button
        class="navbar-toggler border-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon navbar-dark"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="loggedIn">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#"
              >Matches</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white mouse-pointer"> Messages </a>
          </li>
        </ul>
        <div class="dropdown dropdown-padding" *ngIf="loggedIn" dropdown>
          <a
            class="dropdown-toggle text-light text-decoration-none"
            dropdownToggle
            >Welcome {{ user.username.toUpperCase() }}</a
          >
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item">Edit Profile</a>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <form
          *ngIf="!loggedIn"
          #loginForm="ngForm"
          class="d-flex w-100 form-padding"
          (ngSubmit)="login()"
          autocomplete="off"
        >
          <input
            name="username"
            [(ngModel)]="user.username"
            class="form-control me-2"
            type="text"
            placeholder="Username"
            aria-label="Search"
          />
          <input
            name="password"
            [(ngModel)]="user.password"
            class="form-control me-2"
            type="password"
            placeholder="Password"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
