<form
  [formGroup]="registerForm"
  class="form-container"
  (ngSubmit)="registerForm.valid && register()"
  autocomplete="off"
>
  <h2 class="text-center text-primary mb-2">Sign up</h2>
  <hr />
  <!-- $any - disables type checking -->
  <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'Username'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['fullName'])"
    [label]="'Full Name'"
  ></app-text-input>
  <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date of Birth'"
    [minDate]="minDate"
    [maxDate]="maxDate"
  ></app-date-picker>
  <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'Password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirmation Password'"
    [type]="'password'"
  ></app-text-input>
  <div class="mb-3 d-flex flex-row justify-content-center">
    <label class="form-check-label me-5">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />
      Male
    </label>
    <label class="form-check-label ms-5">
      <input
        type="radio"
        class="form-check-input"
        value="female"
        formControlName="gender"
      />
      Female
    </label>
  </div>
  <div class="row" *ngIf="validationErrors && validationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of validationErrors">
        {{ error }}
      </li>
    </ul>
  </div>
  <div class="text-center div-btns">
    <button
      class="btn btn-success me-2"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Register
    </button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
